
/** Warning: Gerade auskommentiert in style.scss **/
section{
  h2.animate-bottom{
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.35s ease-in-out;
  }

  .animate-left{
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.35s ease-in-out;
  }

  .animate-right{
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.35s ease-in-out;
  }

  &.fade-in{

    h2{
      opacity: 1;
      transform: translateY(0);
    }

    .animate-right,
    .animate-left{
      opacity: 1;
      transform: translateX(0);
    }
  }
}