.clients-slider{
  margin: 0 auto;
  position: relative;

  .slide{
    .client-info{
      display: flex;
      justify-content: center;

      cite{
        display: flex;
        align-items: center;

        img{
          border-radius: 100%;
          margin-right: 24px;
          max-width: 70px;
        }

        .text{
          text-align: left;

          strong{
            display: block;
            font-weight: bold;
          }

          a{
            display: block;
          }
        }
      }
    }
  }

  .slick-dots{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li{
      display: inline-block;
      margin-right: 7px;

      &.slick-active button{
        background-color: $highlight;
        border: 1px solid $highlight;
        cursor: auto;
      }

      &:last-child{
        margin-right: 0;
      }

      button{
        background-color: $secondary;
        border: 1px solid $secondary;
        cursor: pointer;
        display: block;
        float: left;
        height: 6px;
        text-indent: -99999px;
        width: 40px;

        &:focus,
        &:active{
          outline: 0;
        }
      }
    }
  }
}