footer{
  background-color: $highlight;
  color: $white;
  padding: 40px 10px 25px;

  @include grid-media-query('before-mobile'){
    text-align: center;
  }

  h3{
    font-size: 23px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .footer-links{
    display: flex;

    a{
      color: $white;
      display: block;
      font-size: 16px;
      line-height: 28px;

      &:first-child{
        margin-left: 0;
      }

      &:hover{
        color: $white;
      }

      &.with-icon{
        padding-left: 28px;
        position: relative;
      }

      .fa{
        font-size: 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &:before{
          font-size: 18px;
        }
      }
    }
  }

  .social-media{
    float: right;

    @include grid-media-query('before-mobile'){
      float: none;
    }

    div{
      display: flex;

      @include grid-media-query('before-mobile'){
        justify-content: center;
      }

      a{
        color: $white;
        font-size: 0;
        margin-right: 10px;

        &:before{
          font-size: 25px;
          transition: color 0.35s ease-in-out;
        }

        &.facebook{
          background-image: url(../img/facebook.png);
          background-size: 100%;
          display: block;
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}