// Typography
body {
  @include body-font;
  color: $textcolor;
}

h1, .h1{
  color: $highlight;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;

  & + .subheadline{
    margin-bottom: 20px;
    margin-top: -20px;
  }
}

h2{
  color: $highlight;
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;

  &.mb-big{
    margin-bottom: 45px;
  }
}

.subheadline{
  color: $highlight;
  font-size: 20px;
  line-height: 26px;
}

//Grid Override
.container {
  @media  (max-width: 1139px) {
    max-width: 100% !important;
  }

  @media (min-width: 1140px) {
    max-width: 1140px;
  }
}

// Standard Elements

section {
  padding: 3rem 0;

  &.grey-background {
    background-color: $basic-grey;
  }
}

a {
  color: $textcolor;
  transition: color 0.35s ease-in-out;

  &:hover {
    color: $textcolor;
    text-decoration: none;
  }
}

.btn {
  border-radius: 5px;
  font-size: 11px;
  letter-spacing: 2px;
  outline: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;

  &:active,
  &:focus {
    box-shadow: none;
    outline: 0;
  }

  &.btn-primary {
    border: 1px solid $highlight;
    color: #fff;
    background: $highlight;

    &:hover {
      background-color: $highlight;
      border-color: $highlight;
    }
  }

  &.btn-secondary {
    background-color: $highlight;
    border-color: $highlight;

    &:hover {
      background-color: $white;
      color: $highlight;
    }
  }
}

