
.wide-teaser{
  background-image: url(../img/erde.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center left;
  color: $white;
  height: 300px;
  position: relative;

  &:after {
    opacity: 0.3;
    background: rgba(0, 0, 0, 1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .container{
    height: 100%;

    .row{
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
    }

    .text-area{
      max-width: 1020px;
      text-align: center;
      padding: 20px 20px 0;
      z-index: 5;

      h2{
        color: $white;
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 5px;
        text-transform: uppercase;
        quotes: '\201E' '\201D' '\00AB' '\00BB';

        &:before {
          content: open-quote;
        }

        &:after {
          content: close-quote;
        }
      }

      p{
        font-weight: 900;
      }
    }
  }
}